#registro {
    font-style: italic;
    text-align:center;
    background-color: gray;
	
	
	
}
#inisioSesion {
    font-style: italic;
    text-align:center;
    background-color: gray;
	
    
}