form{
    background-color: #fff;
    width: 40%;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 20px;

}
label {
    font-size: 15px;
}
input:focus{
border: 1px solid #1668c4;

}
input[type="submit"]{
    margin-bottom: 0;
    background: #1668c4;
    color: #fff;
    border: none;

}
.nota{
    width: 20%;
    height: 10%;

}
.boton{
   
    width: 20%;
    
}
.color{
    color:white;
}